html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none;
  background-image: url("/Wedding-Venue.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  --rosegold: rgb(176,97,109);
}

#root > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.c {
  position: absolute;
  max-width: 1300px;
  max-height: 550px;
  width: 150ch;
  height: 150ch;
  cursor: pointer;
  will-change: transform, opacity;
}

.front,
.back {
  background-size: cover;
}

.back {
  background-image: url(https://images.unsplash.com/photo-1544511916-0148ccdeb877?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1901&q=80i&auto=format&fit=crop);
}

.front {
  /* background-image: url("/Wedding-Venue.jpg"); */
  background-color: white;
}
